@model Online_Shop.ViewModels.ViewModelFood
@using Microsoft.AspNetCore.Identity
@using Online_Shop.ModelsIdentity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    Layout = "~/Views/Shared/_LayoutNotLoggedIn.cshtml";
}

<h1>Checkout</h1>

<div id="cart-list">
    @if (Model.CartList.Count > 0)
    {
        <p>
            Order overview:

            <table class="table">
                @foreach (var item in Model.CartList)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="RemoveFromCheckout" asp-route-id="@item.FoodId">
                                Remove
                            </a>
                        </td>
                    </tr>
                }
            </table>

            @if (User.IsInRole("Premium"))
            {
                <label>Points:</label> @Model.CurrentCustomer.Points
            }

            <h3>Total: @Model.CartList.Sum(f => f.Price)</h3>

        </p>
        <a asp-controller="Home" asp-action="SubmitOrder"><button>Submit order</button></a>
    }
    else
    {
        <p>Your shopping cart is empty.</p>
    }
</div>